<div id="<%= dom_id item %>" class="flex items-center bg-white w-[550px] text-2xl h-[65px] shadow border pl-[70px] group">
  <p class="text-slate-600 font-sans font-normal"><%= item.body %></p>

  <div class="ml-auto mr-4 hidden group-hover:block">
    <%= button_to item, method: :delete, class: 'text-slate-400 px-4 py-2 rounded' do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    <% end %>
  </div>
</div>
