<% content_for :title, "Editing item" %>

<h1>Editing item</h1>

<%= turbo_frame_tag @item do %>
  <%= render "form", item: @item %>
<% end %>

<br>

<div>
  <%= link_to "Back to items", items_path %>
</div>
